### OS ###
.DS_Store

### IDE ###
# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Eclipse (на всякий)
.classpath
.project
.settings/
bin/

# NetBeans (на всякий)
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Build tools ###
# Maven
target/

# Gradle
.build/
.gradle/
build/

### Java artifacts ###
# Compiled class files
*.class

# Logs
*.log
hs_err_pid*
replay_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Packages (чаще не коммитят)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
